body {
    font-family: Arial; 
}

.centered {
    text-align: center;
}

.container {
    border: 1px solid black;
}

#p1 {
    color: DarkGreen;
}

#other-text {
    text-align: left;
    color: blue;
    font-weight: bold;